body, html{
    margin: auto;
    padding:0;
    width: 100%;
    max-width: 1024px;
    height: 100%;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    flex-wrap: wrap;
    width: 100%;
}

#name_title{
    padding: 0 22px 0 0;
}

.header_name, .header_title{
    display: grid;
    grid-template-rows: 2fr;
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
    width: 75%;
    text-align: right;
}

main h2{
    display: block;
    color: #7d97ad;
    text-align: center;
}

.project_title{
    color: #2d3c49;
}

hr{
    color: #7d97ad;
    border-width: 0.2em;
}

body, p{
    background-color: whitesmoke;
    /*font-size: 1.3em;*/
}
.header_name, .header_title{
    font-family: Arial, Helvetica, sans-serif;
}



@media screen and (max-width:450px){
    .logo{
        width: 50px;
        height: 50px;
        float: left;
        padding: 4px 0 2px 0;
    }
    .header_name, .header_title{
        float: right;
        text-align: right;
    }
    img{
        max-width: 100%;
        margin: auto;
        display: block;
    }
    h3, a{
        text-align: center;
        width: 50%;
        margin: 4px 0;
        padding: 6px 0;
    }
    h3{
        float: left;
    }
    hr{
        margin: 4px 0 0 0;
    }
    .project h3{
        border-top : 1px solid;
        border-bottom : 1px solid;
        border-color:  #7d97ad; 
    }
}

@media screen and (min-width: 451px) and (max-width:800px){
    .logo{
        width:  100px;
        height: 100px;
        float: left;
        padding: 4px 0 2px 0;
    }
    .header_name, .header_title{
        float: right;
        text-align: right;
        vertical-align: middle;
        font-size: 1.5em;
        line-height: 1.8em;
    }
    
    img{
        max-width: 100%;
        height: auto;
        margin: auto;
        display: block;
    }
    h3, a{
        text-align: center;
        width: 50%;
        margin: 4px 0;
        padding: 6px 0;
    }
    h3{
        float: left;
    }
    hr{
        margin: 4px 0 0 0;
    }
    .project h3{
        border-top : 1px solid;
        border-bottom : 1px solid;
        border-color:  #7d97ad;
        font-size : 3.0vw;
        padding: 2vw 0;
    }
    .projects{
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }
    .project{
        min-height: 25vh;
    }
    .project img{
        height: 45vw;
        width: 45vw;
    }
}

@media screen and (min-width: 801px){
    .logo{
        width:  100px;
        height: 100px;
        float: left;
        padding: 20px;
    }
    .header_name{
        font-size: 2.5em;
        color: #2d3c49;
    }
    .header_title{
        font-size: 2em;
    }
    .header_name, .header_title{
        float: right;
        text-align: right;
        vertical-align: middle;
        line-height: 1.8em;
    }
    .self_photo{
        width: 100%;
    }
    main h2{
        display: block;
        color: #7d97ad;
        float: none;
        font-size: 3em;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 2px solid #7d97ad;
        margin-bottom: 0;
    }
    .projects{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        text-align: center;
    }
    .project{
        min-height: 25vh;
        width: 100%;
        
    }
    .project img{
        height: auto;
        width: 90%;
    }
    .project h3{
        font-family: Arial, Helvetica, sans-serif;
        margin : 10px;
        font-size : 2.0em;
        
    }
}