body, html{
    margin: 0;
    padding:0;
    max-width: 100%;
    height: 100%;
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    flex-wrap: wrap;
    max-width: 100%;
}

#name_title{
    padding: 0 10px 0 0;
}

#name_title h5, h4{
    display: grid;
    grid-template-rows: 2fr;
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
    width: 75%;
    text-align: right;
}

body, p{
    background-color: whitesmoke;
    /*font-size: 1.3em;*/
}
.header_name, .header_title{
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:400px){
    .logo{
        width: 50px;
        height: 50px;
        float: left;
        padding: 4px 0 2px 10px;
    }
    .header_name, .header_title{
        float: right;
    }
    img{
        max-width: 100%;
    }

  
}